body{
    background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0.2) 58.5%), 
    #1E1E1E;
    background-repeat: no-repeat;
    color: #CBCBCB;
    font-family: "Inter", sans-serif;
    margin: 0;
}


.top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-section button{
    margin-right: 50px;
    border: none;
    background-color:rgb(0, 0, 0, 0);
    color: #CBCBCB;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.06em;
    transition: transform 0.3s,background-color 0.3s, color 0.3s;
    padding: 10px;
}
.top-section button:hover{
    background-color: #121212;
    color: white;
    transform: translateY(-10px)
}

.top-section h1{

    margin-left: 20px ;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-size: 48px;
    line-height: 77px;
    letter-spacing: 0.06em;
}
.seperator{
    margin: 20px;
}

.middle-part {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    
}
.middle-part h2{
    text-align: center;
    margin: 100px 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.06em;
    max-width: 50%;
    }

.images{
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, auto));
    
}

h2{
    font-size: 36px;
    margin-left: 100px;
}
.pic1{
    display: flex;
    align-items: center;
    background: linear-gradient(270deg, rgba(86, 86, 86, 0.2) 9.5%, rgba(86, 86, 86, 0) 52%, rgba(86, 86, 86, 0.2) 90.5%), #1E1E1E;
    padding: 10px;
    margin: 10px;
    border-radius: 94px;

    transition: transform 0.3s,background-color 0.3s, color 0.3s;
}

.pic1:hover{
    background-color: white;
    color: black;
    transform: translateY(-10px)
}

.images h2{
    color: #1E1E1E;

}
.pic1 img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px 10px;
}


.credits{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    background-color: #121212;

    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-size: 16px;
    line-height: 18px;
}

